<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <!-- v-if removes completely the html tag -->
        <p v-if="show">You can see me!</p>
        <!-- show this if v-if is gone -->
        <p v-else>Now you see me</p>
        <!-- not rendered in DOM -->
        <!-- can use v-if to group all the elements -->
        <template v-if="show">
            <p>Inside a template</p>
        </template>
        <p>Do you also see me?</p>
        <!-- v-show is for hiding and showing using display none -->
        <p v-show="show">
            Do you see me in v-show?
        </p>
        <button v-on:click="show = !show">Click me</button>
        </div>
        <script src="app.js"> </script>
</body>

</html>